body {
  display: flex;
  justify-content: center;
  background-color: rgba(192, 192, 192, 0.849);
}

.calc-body {
  background-color: rgb(185, 143, 240);
  border: 1px solid rgb(6, 6, 8);
  border-radius: 5%;
  width: 370px;
  height: 450px;
  padding-bottom: 80px;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}

.calc-top {
  width: 300px;
  display: flex;
}

.calc-bottom {
  margin-top: 30px;
}

.display {
  background-color: rgb(255, 251, 251);
  width: 400px;
  height: 80px;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 1px solid rgb(26, 0, 0);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 5px;
  padding-right: 5px;
}

.upper-display {
  color: gray;
  font-size: 24px;
}

/* .main-display {
} */

.keys {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.button {
  height: 55px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(5, 0, 0);
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 800px;
}

.operator {
  background-color: rgb(2, 78, 53);
  color: white;
}

.operator:hover {
  background-color: rgb(50, 190, 160, 0.3);
}

.operator:active {
  background-color: rgb(50, 190, 160, 1);
}

.digit,
.clear {
  background-color: rgb(226, 192, 40);
}

.digit:hover,
.clear:hover {
  background-color: rgba(255, 147, 5, 0.3);
}

.digit:active,
.clear:active {
  background-color: rgb(255, 147, 5, 1);
}
