*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  min-height: 500px;
  height: 70vh;
  margin-top: 50px;
}

.calculator {
  background-color: rgb(167, 167, 167);
  border: 3px solid black;
  border-radius: 3px;
  padding: 20px;
  width: 400px;
}

.screen {
  background-color: rgb(197 197 197);
  border: 4px black solid;
  border-radius: 5px;
  padding: 10px;
  text-align: right;
}

.upper-display {
  min-height: 32px;
  font-size: 25px;
  color: rgb(80, 79, 79);
}

.lower-display {
  min-height: 70px;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 20px;
}

button {
  cursor: pointer;
  padding: 20px;
  border-radius: 5px;
  font-size: 20px;
  border: 1px solid black;
  background-color: rgba(226, 255, 172, 0.671);
}

button:hover {
  background-color: rgba(226, 255, 172, 0.7);
}

button:active {
  background-color: rgba(226, 255, 172, 1);
}

.span-2 {
  grid-row: span 2;
}

.span-2-col {
  grid-column: span 2;
}
